$main-color: #F58345;
$base: green;


@mixin adaptive-font-size($min-font-size, $max-font-size, $container-width) {
    $min-rem: $min-font-size / 16 * 1rem;
    $max-rem: $max-font-size / 16 * 1rem;
    $vw: ($max-font-size / $container-width) * 100vw;

    font-size: calc(max(#{$min-rem}, min(#{$vw}, #{$max-rem})));
}

@mixin adaptive-padding($min-padding, $max-padding, $container-width) {
    $min-px: $min-padding;
    $max-px: $max-padding;
    $vw: ($max-padding / $container-width) * 100vw;

    padding: calc(max(#{$min-px}, min(#{$vw}, #{$max-px})));
}


@mixin adaptive-margin-top($min-margin, $max-margin, $container-width) {
    $min-px: $min-margin;
    $max-px: $max-margin;
    $vw: ($max-margin / $container-width) * 100vw;

    margin-top: calc(max(#{$min-px}, min(#{$vw}, #{$max-px})));
}

@mixin adaptive-line-height($line-height, $font-size) {
    line-height: ($font-size / $line-height) * 100 * 1%;
}

@mixin col-100-media {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@mixin allcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin text-overflow-line($number-of-lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $number-of-lines ==1 {
        white-space: nowrap;
    }

    @else {
        white-space: inherit;

        @supports (-webkit-line-clamp: $number-of-lines) {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: $number-of-lines;
        }
    }
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin arr-r($width, $padding, $color) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@mixin arr-l($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@mixin arr-up($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

@mixin arr-down($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


// @mixin triangle($direction: down, $size: 5px, $color: #555) {
//     width: 0;
//     height: 0;
//     @if ($direction == left) {
//        border-top: $size solid transparent;
//        border-bottom: $size solid transparent; 
//        border-right: $size solid $color;
//     }
//     @else if ($direction == right) {
//        border-top: $size solid transparent;
//        border-bottom: $size solid transparent; 
//        border-left: $size solid $color;
//     }
//     @else if ($direction == down) {
//        border-left: $size solid transparent;
//        border-right: $size solid transparent;
//        border-top: $size solid $color;
//     }
//     @else {
//        border-left: $size solid transparent;
//        border-right: $size solid transparent;
//        border-bottom: $size solid $color;
//     }
//  }
@mixin link ($base, $hover, $active) {
    a {
        color: $base;

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

@mixin relative-before($w, $h, $l, $r, $t) {
    &::before {
        position: relative;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin relative-after($w, $h, $l, $r, $t) {
    &::before {
        position: relative;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin absolut-before($w, $h, $l , $r, $t) {
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin absolut-after($w, $h, $l, $r, $t) {
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin relative-after-shot($w, $h) {
    &::after {
        position: relative;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
    }
}

@mixin visibility($type) {
    @if $type=="hide" {
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s;
    }

    @else if $type=="show" {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
    }
}

@mixin breakpoint($point) {
    @if $point ==500 {
        @media screen and (max-width: 500px) {
            @content;
        }
    }

    @else if $point ==900 {
        @media screen and (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==1200 {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
}


* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 104px;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto";
    // font-size: 20px;
    @include adaptive-font-size(18, 20, 1312);
    font-weight: 500;
    // line-height: 23.44px;
    line-height: 117%;
    color: #53565A;
    background-color: #feffff;

    &.modal-open {
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
    width: fit-content;
    cursor: pointer;
    color: #53565A;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    margin: 0;
}

/* common */

.container {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 20px;
}

.section .container {
    padding: 0 30px;
}

.section {
    padding: 40px 0;
}

// .page-section-s {
//     margin: 20px 0;
// }

// .theme-light {
//     padding: 40px;
//     background-color: #ffffff;
//     border-radius: 7px;
// }

.title-wrap {
    margin-bottom: 20px;
}

.title {
    // font-size: 40px;
    font-weight: 700;
    // line-height: 58px;
    @include adaptive-font-size(26, 40, 1312);
    @include adaptive-line-height(40, 58);


    span {
        color: #F58345;
    }
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.al-center {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.jc-sb {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.jc-center {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.jc-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.w-100 {
    width: 100%;
}

.btn-wrap {
    margin-top: 20px;
}

.btn {
    @include allcenter;
    width: fit-content;
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    outline: none;
    background: #F58345;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    transition: all 300ms;
    cursor: pointer;
    position: relative;

    &:hover {
        background: #DF373B;
        color: #FFFFFF;
    }

    &:disabled {
        background-color: #D0CACA;
        color: #FFFFFF;
    }
}


/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: transparent;
    padding: 26px 0;
    overflow: hidden;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    box-shadow: 0px 2px 4px 0px #0000000D;
}

.header-active {
    background-color: #FFFFFF;
}

.logo {
    width: 192px;
}

.header__inner {
    gap: 20px 40px;
}

.menu-wrap {
    width: fit-content;
}

.menu-item {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: #53565A;
    transition: all 0.2s ease;
}

.menu-item:not(:last-child) {
    margin-right: 32px;
}

.header__btn {
    margin-left: auto;
}

/* burger*/

.header__burger {
    display: none;
}

/*page-fuel*/
.section-top {
    margin-top: 104px;
}

.section-top__inner {
    display: flex;
    flex-wrap: wrap;
}

.section-top__title {
    // font-size: 50px;
    font-weight: 700;
    // line-height: 58px;
    @include adaptive-font-size(32, 50, 1312);
    @include adaptive-line-height(50, 58);

    span {
        color: #F58345;
    }
}

.section-top__col {
    .btn {
        // margin-top: 50px;
        @include adaptive-margin-top(30px, 50px, 1312px)
    }

    &:first-child {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &:last-child {
        width: 60%;
    }
}

.section-advantages__title {
    text-align: center;
}

.section-advantages__inner {
    max-width: 1108px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 44px;
    margin: 48px auto 0;
}

.advantage-item {
    width: 100%;
    box-shadow: 0px 4px 30px 0px #1903031A;
    background-color: #FFFFFF;
    padding: 50px 14px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms;

    &:hover {
        background-color: $main-color;
        color: #FFFFFF;
        transform: scale(1.1);
    }
}

.advantage-item__icon {
    margin-bottom: 12px;

    svg {
        width: 61px;
        height: 60px;
        fill: #F58345;
        stroke: #F58345;
        transition: all 300ms;

        .advantage-item:hover & {
            fill: #FFFFFF;
            stroke: #ffffff;
        }
    }
}

.advantage-item__text {
    text-align: center;
    min-height: 72px;
}

.advantage-item__link {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;

    svg {
        width: 24px;
        height: 24px;
        fill: #F58345;
        border-radius: 50%;
        padding: 5px;
        margin-left: 12px;
        transition: all 300ms;

        .advantage-item:hover & {
            background-color: #ffffff;
        }
    }
}

.section-form__col {
    &:first-child {
        width: 51%;
        padding-right: 60px;
    }

    &:last-child {
        width: 49%;
    }
}

.parthner-form__inner {
    padding: 40px 60px;
    // background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px #1903031A;
    border-radius: 18px;
}


/*input*/

input:user-invalid {
    border-color: #DF373B;
    background-color: #FFFFFF;
}

input:read-only {
    border-color: #9A9A9A;
    background-color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.input-item {
    display: block;
    position: relative;

    &:not(:first-child) {
        margin-top: 24px;
    }
}

.input-item__input {
    width: 100%;
    padding: 22px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: #9A9A9A;
    border: 2px solid #F58345;
    border-radius: 12px;
    background-color: transparent;
    transition: all 300ms;

    &::placeholder {
        color: #9A9A9A;
    }

    &:hover {
        background-color: #FFFFFF;
        box-shadow: 0px 4px 30px 0px #1903031A;
    }

    &.error {
        border-color: #DF373B;
        background-color: #FFFFFF;
    }
}

.form-consent {
    margin-top: 30px;
}

.form-consent input.checkbox-input {
    appearance: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form-consent .consent-checkbox-label {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.form-consent .consent-checkbox-label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $main-color;
    border-radius: 2px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
}

input[name="consent"].error+.consent-checkbox-label::before {
    border-color: #DF373B;
}

.form-consent input.checkbox-input:checked+.consent-checkbox-label::before {
    background: #53565A url(../images/icons/checked.svg) center no-repeat;
    border-color: #53565A;
    background-size: 65%;
}

.parthner-form__btn-wrap {
    margin-top: 40px;
}

.square-list {
    max-width: 552px;
}

.square-list li {
    padding-left: 40px;
    position: relative
}

.square-list li::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 15px;
    height: 15px;
    background: url(../images/icons/square.svg) center no-repeat;
}

.square-list li:not(:first-child) {
    margin-top: 16px
}

.section__inner {
    padding: 0 40px
}

.section-coupons__col {
    &:first-child {
        width: 38%
    }

    &:last-child {
        margin-left: 89px;
        width: calc(62% - 89px)
    }
}

.section-cards__inner {
    max-width: 914px;
    margin: 0 auto;
}

.section-cards__col {
    &:first-child {
        margin-right: 89px;
        width: calc(70% - 89px);

        .title-wrap {
            text-align: end;
        }
    }

    &:last-child {
        width: 30%
    }
}

.section-discount__col {
    &:first-child {
        width: 22%;
    }

    &:last-child {
        margin-left: 89px;
        width: calc(78% - 89px);
    }
}

.section-thank {
    .square-list {
        max-width: 647px;
    }

    .title {
        padding-left: 40px;
    }
}

.section-thank__col {
    &:first-child {
        margin-right: 89px;
        width: calc(57% - 89px);

    }

    &:last-child {
        width: 43%;
    }

    .btn-wrap {
        width: fit-content;
        margin-left: auto;
    }
}

/*popup*/

@keyframes slideDown {
    0% {
        transform: translateY(-110%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #19191920;
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: visible;
}

.popup.opened {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.popup.opened .popup__content {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.popup__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.popup__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
}

.popup__content {
    background: white;
    padding: 57px 48px;
    border-radius: 24px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.popup-close::before,
.popup-close::after {
    content: "";
    background: $main-color;
    height: 16px;
    width: 2px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
}

.popup-close::before {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.popup-close::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.popup_form {
    .popup__text {
        font-size: 20px;
        font-weight: 500;
        line-height: 23.44px;
        text-align: center;
    }
}

.visible-xs {
    display: none;
}

.footer {
    padding: 40px 0;
}

.footer .logo {
    width: 130px;
}

.footer,
.footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.footer__inner {
    gap: 30px 20px;
}

.footer__contacts-wrap {
    min-height: 64px;
    display: flex;
    flex-direction: column;


    &:nth-child(2) {
        justify-content: space-between;
    }

    &:last-child {
        justify-content: center;
        max-width: 187px;
        text-align: right;
        margin-left: auto;
    }
}

.text_colored,
.text_colored a {
    color: $main-color;
}

@media screen and (max-width: 960px) {

    .header {
        padding: 20px 0;
    }

    .visible-xs {
        display: block;
    }

    .hidden-xs {
        display: none;
    }

    .section .container {
        padding: 0 20px;
    }

    .col-100-s {
        @include col-100-media();

        &:last-child {
            margin-top: 40px;
        }
    }

    .title {
        line-height: 120%;

        br {
            display: none;
        }
    }

    /*burger*/
    .header__burger {
        margin-left: auto;
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #F58345;
        ;
        position: absolute;
        left: 0;
    }

    .burger-line:first-child {
        top: 6px;
    }

    .burger-line:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .burger-line:last-child {
        bottom: 6px;
    }

    .menu-wrap {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #FFFFFF;
        z-index: 10;
        padding: 80px 40px 50px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }

    .menu-wrap.menu-active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .menu-wrap__inner {
        padding: 80px 0;
        justify-content: center;
    }

    .menu-item {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .menu-item:not(:first-child) {
        margin-top: 20px;
    }

    .menu-item:not(:last-child) {
        margin-right: 0px;
    }

    .menu-list {
        flex-direction: column;
    }

    .header-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 26px;
        right: 20px;
        z-index: 11;
        cursor: pointer;
    }

    .close-line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #F58345;
        ;
        position: absolute;
        top: 50%;
    }

    .close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    .close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }

    .header__btn {
        margin: 0 auto;
        text-align: center;
    }

    /* burger-end */

    .section__inner {
        padding: 0;
    }

    .pic-wrap {
        display: flex;
        justify-content: center;
    }

    .section-advantages__inner {
        gap: 30px;
    }

    .section-form__col:first-child {
        padding-right: 0px;
    }

    .section-cards__inner,
    .section-thank__inner {
        flex-direction: column-reverse;

        .col-100-s:first-child {
            margin-top: 40px;
        }

        .col-100-s:last-child {
            margin-top: 0px;
        }
    }

    .section-cards__col:first-child .title-wrap {
        text-align: start;
    }

    .section-cards__col:first-child .btn-wrap {
        justify-content: normal;
    }

    .section-thank .title {
        padding-left: 0px;
    }

    .section-thank .btn-wrap {
        margin-left: 0;
    }

    .footer {
        padding: 40px 0 20px;
        // border-top: 1px solid #0000000D;

        .logo {
            display: flex;
            justify-content: center;
        }
    }

    .footer__inner {
        gap: 30px 40px;
    }

    .footer__contacts-wrap:nth-child(2) {
        width: 100%;
        order: 3;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {

    .popup__content {
        max-width: 96%;
        padding: 57px 30px;
    }

    /*header*/
    .header {
        padding: 20px 0;
    }
}


@media screen and (max-width: 500px) {

    .container {
        padding: 0 16px;
    }

    .section .container {
        padding: 0 16px;
    }

    .col-100-s:last-child,
    .section-cards__inner .col-100-s:first-child,
    .section-thank__inner .col-100-s:first-child {
        margin-top: 30px;
    }

    .btn {
        width: 100%;
    }

    .section-advantages__inner {
        margin: 30px auto 0;
    }

    .advantage-item {
        padding: 30px 20px;
    }

    .advantage-item__text {
        min-height: unset;
    }

    .parthner-form__inner {
        padding: 30px 20px;
    }

    .parthner-form__btn-wrap,
    .btn-wrap {
        margin-top: 30px;
    }

    .square-list li {
        padding-left: 30px;
    }

    .square-list li::before {
        width: 12px;
        height: 12px;
        background: url(../images/icons/square.svg) center no-repeat;
        background-size: 100%;
    }

}

@media screen and (max-width: 400px) {

    .footer__inner {
        gap: 20px 40px;
    }

    .footer .logo {
        width: 100%;
    }

    .footer__contacts-wrap {
        width: 100%;
        text-align: center;
        margin: 0 auto;

        &:nth-child(2) {
            order: 3;
        }
    }
}